<html ng-app="epcValidationApp">

<head>
    <script src="externalLibs/jquery-3.2.1.min.js"></script>
    <script src="externalLibs/angular.min.js"></script>
    <script src="epcValidationApp.js"></script>
    <link rel="stylesheet" type="text/css" href="panel.css">
</head>

<body>
    <div ng-controller="EPCValidationController">
        <button class="button" ng-click="validatePage()">Start the page validation</button>
        <div class="score">{{validationRules.RulesSummary}}</div>
        <div class="results">
            <div class="rule" ng-repeat="rule in validationRules">
                <div class="rule-header">{{rule.RuleArea}} - {{rule.RuleDescription}} - {{rule.RuleId}}</div>
                <div class="issue" ng-repeat="issue in rule.ValidationIssues">
                    <div>
                        <img width="16px" height="16px" ng-src="{{issue.ImgUrl}}" /> {{issue.Description}} {{issue.Img}} -- (link-id: {{issue.EltLinkId}}) <img  ng-click="startHighlight(issue.EltLinkId)" width="16px" height="16px" ng-src="{{highlightImg}}" /></div>
                </div>
            </div>
        </div>
</body>
</div>

</html>