.button {
    background-color: orange;
    color: white;
    border: 0; 
    padding: 5px;
 }
 
 .results {
     margin-top: 5px;
 }
 
 .rule {
     margin: 3px;
 }

 .issue {
   padding-left: 15px;
 }