.button {
    background-color: orange;
    color: white;
    border: 0; 
    padding: 5px;
 }
 
 .results {
     margin-top: 5px;
 }
 
 .rule {
     margin: 3px;
 }

 .rule-header {
    padding: 3px;
    font-weight: bold;
 }

 .issue {
   padding-left: 15px;
 }

 .issue:hover{
     border: solid red;
 }

 .score {
     font-size: 16px;
 }